<settings>
  <localRepository>.m2</localRepository>
  <servers>
    <server>
      <id>nexus-premise</id>
      <!-- <username>${env.NEXUS_CREDS_USR}</username>
      <password>${env.NEXUS_CREDS_PSW}</password> -->
      <username>${server.username}</username>
      <password>${server.password}</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>nexus-premise</id>
      <!-- <name>Nexus On-Premise</name> -->
      <url>http://ec2-15-206-189-141.ap-south-1.compute.amazonaws.com:8081/repository/maven-public/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
</settings>